#**Week-8 Assignment**
##**`Minute` Stats Merge**
---
Respondents generated this dataset to a distributed survey via Amazon Mechanical Turk between 03.12.2016 and 05.12.2016. Thirty eligible Fitbit users consented to submit personal tracker data, including minute-level output for physical activity, heart rate, and sleep monitoring. Individual reports can be parsed by export session ID (column A) or timestamp (column B). Variation between output represents the use of different Fitbit trackers and individual tracking behaviors/preferences.

---
This Notebook contains:
### `Dataset : Minute Stats Merge`

# **Importing Libraries**

So, inorder to perform anything on the data we must require to import the librarires first and set the diplay view of the dataset.

This code snippet imports necessary Python libraries, `sets display options for Pandas`, and prepares the environment for data analysis and visualization.

In [1]:
# Importing required libraries for data analysis and visualization
import pandas as pd                       # Pandas for data manipulation and analysis
import numpy as np                        # NumPy for numerical operations
import matplotlib.pyplot as plt           # Matplotlib for basic plotting
import seaborn as sns                     # Seaborn for statistical data visualization
import plotly.express as px               # Plotly Express for interactive visualizations
import re                                 # Import the regular expression module
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

# Setting display options for Pandas to show three decimal places for floating-point numbers
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# **Loading Dataset**

After importing librarires, we will import the data using `GitHub` link of raw file

Continuing the setup for data analysis by adjusting `Pandas display options` and then loads a dataset from a `URL` into a `Pandas` DataFrame.

In [2]:
# Display all columns without truncation
pd.set_option('display.max_columns', None)

# Load related dataset from URL into multiple DataFrame
url_1 = 'https://raw.githubusercontent.com/vignay21/Prepinsta-Winter-Internship/main/PrepInsta-Week8/Clean%20CSV/minute_MET_cleaned.csv'
met = pd.read_csv(url_1, encoding='unicode_escape')
url_2 = 'https://raw.githubusercontent.com/vignay21/Prepinsta-Winter-Internship/main/PrepInsta-Week8/Clean%20CSV/minute_calories_cleaned.csv'
calories = pd.read_csv(url_2, encoding='unicode_escape')
url_3 = 'https://raw.githubusercontent.com/vignay21/Prepinsta-Winter-Internship/main/PrepInsta-Week8/Clean%20CSV/minute_intensities_cleaned.csv'
intensity = pd.read_csv(url_3, encoding='unicode_escape')
url_4 = 'https://raw.githubusercontent.com/vignay21/Prepinsta-Winter-Internship/main/PrepInsta-Week8/Clean%20CSV/minute_sleep_cleaned.csv'
sleep = pd.read_csv(url_4, encoding='unicode_escape')
url_5 = 'https://raw.githubusercontent.com/vignay21/Prepinsta-Winter-Internship/main/PrepInsta-Week8/Clean%20CSV/minute_steps_cleaned.csv'
steps = pd.read_csv(url_5, encoding='unicode_escape')


# Display first two rows of the loaded DataFrame
#df.sample(5)

Inspecting the columns present in every dataset.

In [3]:
# Display random row from each dataframe
print(met.sample())
print(calories.sample())
print(intensity.sample())
print(sleep.sample())
print(steps.sample())

                Id ActivityDay ActivityMinute  METs
755636  4702921684  2016-05-10       21:56:00    28
                Id ActivityDay ActivityMinute  Calories
109857  1644430081  2016-04-27       17:57:00      1.69
               Id ActivityDay ActivityMinute  Intensity
17487  1503960366  2016-04-24       03:27:00          0
               Id ActivityDay ActivityMinute  Sleep
83310  4445114986  2016-04-30       06:45:00      1
                Id ActivityDay ActivityMinute  Steps
901659  6290855005  2016-04-24       10:39:00     57

# **Processing & Merging Dataset**

###1. Calories Dataframe

Merging Dataframes on Left join

In [4]:
# Merge DataFrames on specified columns
met_calories = pd.merge(met, calories, on=['Id', 'ActivityDay', 'ActivityMinute'], how='left')

# Display a random sample of 5 rows from the merged DataFrame
met_calories.head(5)

           Id ActivityDay ActivityMinute  METs  Calories
0  1503960366  2016-04-12       00:00:00    10      0.79
1  1503960366  2016-04-12       00:01:00    10      0.79
2  1503960366  2016-04-12       00:02:00    10      0.79
3  1503960366  2016-04-12       00:03:00    10      0.79
4  1503960366  2016-04-12       00:04:00    10      0.79

###2. Intensity Dataframe

Merging Dataframes on Left join

In [5]:
# Merge DataFrames on specified columns
met_calories_intensity = pd.merge(met_calories, intensity, on=['Id', 'ActivityDay', 'ActivityMinute'], how='left')

# Display a random sample of 5 rows from the merged DataFrame
met_calories_intensity.head(5)

           Id ActivityDay ActivityMinute  METs  Calories  Intensity
0  1503960366  2016-04-12       00:00:00    10      0.79          0
1  1503960366  2016-04-12       00:01:00    10      0.79          0
2  1503960366  2016-04-12       00:02:00    10      0.79          0
3  1503960366  2016-04-12       00:03:00    10      0.79          0
4  1503960366  2016-04-12       00:04:00    10      0.79          0

###3. Sleep Dataframe

Merging Dataframes on Left join

In [6]:
# Merge DataFrames on specified columns
met_calories_intensity_sleep = pd.merge(met_calories_intensity, sleep, on=['Id', 'ActivityDay', 'ActivityMinute'], how='left')

# Display a random sample of 5 rows from the merged DataFrame
met_calories_intensity_sleep.head(5)

           Id ActivityDay ActivityMinute  METs  Calories  Intensity  Sleep
0  1503960366  2016-04-12       00:00:00    10      0.79          0    NaN
1  1503960366  2016-04-12       00:01:00    10      0.79          0    NaN
2  1503960366  2016-04-12       00:02:00    10      0.79          0    NaN
3  1503960366  2016-04-12       00:03:00    10      0.79          0    NaN
4  1503960366  2016-04-12       00:04:00    10      0.79          0    NaN

###4. Steps Dataframe

Merging Dataframes on Left join

In [7]:
# Merge DataFrames on specified columns
final = pd.merge(met_calories_intensity_sleep, steps, on=['Id', 'ActivityDay', 'ActivityMinute'], how='left')

# Display a head sample of 5 rows from the merged DataFrame
final.head(5)

,Id,ActivityDay,ActivityMinute,METs,Calories,Intensity,Sleep,Steps
0,1503960366,2016-04-12,00:00:00,10,0.79,0,NaN,0
1,1503960366,2016-04-12,00:01:00,10,0.79,0,NaN,0
2,1503960366,2016-04-12,00:02:00,10,0.79,0,NaN,0
3,1503960366,2016-04-12,00:03:00,10,0.79,0,NaN,0
4,1503960366,2016-04-12,00:04:00,10,0.79,0,NaN,0

##**Final DataFrame Process**

Here we count the number of duplicate rows in the '`final`' DataFrame using the `duplicated()` method.

In [8]:
# Count the number of duplicate rows in the 'final' DataFrame
final.duplicated().sum()

0

Here we count the number of null values in each column of the '`final`' DataFrame using the `isnull()` method.

In [9]:
# Count the number of null values in each column of the 'final' DataFrame
final.isnull().sum()

Id                      0
ActivityDay             0
ActivityMinute          0
METs                    0
Calories                0
Intensity               0
Sleep             1200220
Steps                   0
dtype: int64

Fill the Sleep `NaN` values with `0` and make sure that the data type is int.

In [10]:
# Replace NaN values in a specific column with 0
final['Sleep'] = final['Sleep'].fillna(0)

# Convert a column to integer type
final['Sleep'] = final['Sleep'].astype(int)

final.isnull().sum()

Id                0
ActivityDay       0
ActivityMinute    0
METs              0
Calories          0
Intensity         0
Sleep             0
Steps             0
dtype: int64

Here we convert all numeric columns in the '`final`' DataFrame to two decimal places. Then, we standardize column names by converting camel case to snake case using a regular expression.

In [11]:
# Convert all numeric columns to two decimal places
final = final.round(2)

# Standardize column names by converting camel case to snake case
final.columns = [re.sub('([a-z0-9])([A-Z])', r'\1_\2', col).lower() for col in final.columns]

final.sample()

,id,activity_day,activity_minute,mets,calories,intensity,sleep,steps
313923,2320127002,2016-04-17,13:03:00,10,0.92,0,0,0

Now we will save the final data

In [12]:
final.to_csv('minute_stats_data.csv', index=False) #save a copy of final data