#**Week-8 Assignment**
##**Minute Sleep**
---
Respondents generated this dataset to a distributed survey via Amazon Mechanical Turk between 03.12.2016 and 05.12.2016. Thirty eligible Fitbit users consented to submit personal tracker data, including minute-level output for physical activity, heart rate, and sleep monitoring. Individual reports can be parsed by export session ID (column A) or timestamp (column B). Variation between output represents the use of different Fitbit trackers and individual tracking behaviors/preferences.

---
This Notebook contains:
### `Dataset : Minute Sleep`

# **Importing Libraries**

So, inorder to perform anything on the data we must require to import the librarires first and set the diplay view of the dataset.

This code snippet imports necessary Python libraries, `sets display options for Pandas`, and prepares the environment for data analysis and visualization.

In [1]:
# Importing required libraries for data analysis and visualization
import pandas as pd                       # Pandas for data manipulation and analysis
import numpy as np                        # NumPy for numerical operations
import matplotlib.pyplot as plt           # Matplotlib for basic plotting
import seaborn as sns                     # Seaborn for statistical data visualization
import plotly.express as px               # Plotly Express for interactive visualizations
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

# Setting display options for Pandas to show three decimal places for floating-point numbers
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# **Loading Dataset**

After importing librarires, we will import the data using `GitHub` link of raw file

Continuing the setup for data analysis by adjusting `Pandas display options` and then loads a dataset from a `URL` into a `Pandas` DataFrame.

In [2]:
# Display all columns without truncation
pd.set_option('display.max_columns', None)

# Load car-related dataset from URL into 'df' DataFrame
url = 'https://raw.githubusercontent.com/vignay21/Prepinsta-Winter-Internship/main/PrepInsta-Week8/Raw%20CSV/minuteSleep_merged.csv'
df = pd.read_csv(url, encoding='unicode_escape')

# Display first two rows of the loaded DataFrame
df.head(2)

           Id                  date  value        logId
0  1503960366  4/12/2016 2:47:30 AM      3  11380564589
1  1503960366  4/12/2016 2:48:30 AM      2  11380564589

# **Preliminary Data Inspection**

To perform any operation on the dataset, we need to get familiarized with the dataset.

Showcasing the data types of each column in the '`df`' DataFrame.

In [3]:
df.dtypes        # Display data types of columns in the 'df' DataFrame

Id        int64
date     object
value     int64
logId     int64
dtype: object

Detailed information about the '`df`' DataFrame, including *data types* and *memory usage*

In [4]:
df.info(verbose=True)        # Display concise information about 'df' DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188521 entries, 0 to 188520
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      188521 non-null  int64
 1   date    188521 non-null  object
 2   value   188521 non-null  int64
 3   logId   188521 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.8+ MB

Showing the number of rows and columns

In [5]:
df.shape         # Display the shape (rows, columns)

(188521, 4)

Using `df.describe()` to generate descriptive statistics for the numerical columns in the '`df`' DataFrame.

In [6]:
df.describe()      # Generate descriptive statistics for numerical columns

                 Id     value          logId
count     188521.00 188521.00      188521.00
mean  4996594662.99      1.10 11496113508.76
std   2066949567.23      0.33    68228634.75
min   1503960366.00      1.00 11372227280.00
25%   3977333714.00      1.00 11439308639.00
50%   4702921684.00      1.00 11501142214.00
75%   6962181067.00      1.00 11552534115.00
max   8792009665.00      3.00 11616251768.00

# **Data Cleaning and Trimming**

Modifying each and every column accordingly to get a smooth analysis in data vizualization.

### 1. Standardize Date Column

Here we convert the '`Date`' column to datetime format. Now we extract the date only from '`Date`' and create a new columnrelated to the name of Dataframe. Now we drop the original '`Date`' column and move the new column to its original position. Finally, we print the DataFrame to observe the changes.

In [7]:
# Convert the 'Date' column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y %I:%M:%S %p')

# Convert the 'date' column to datetime format
df['ActivityDay'] = df['date'].dt.date
df['date'] = df['date'].dt.time
date_column = df.pop('ActivityDay')
df.insert(1, 'ActivityDay', date_column)

# Use the 'rename' method to rename a column
df.rename(columns={'date': 'ActivityMinute', 'value': 'Sleep'}, inplace=True)

# Print the DataFrame to see the changes
df.head(5)

           Id ActivityDay ActivityMinute  Sleep        logId
0  1503960366  2016-04-12       02:47:30      3  11380564589
1  1503960366  2016-04-12       02:48:30      2  11380564589
2  1503960366  2016-04-12       02:49:30      1  11380564589
3  1503960366  2016-04-12       02:50:30      1  11380564589
4  1503960366  2016-04-12       02:51:30      1  11380564589

### 2. Handling the large missing values

Now, we will calculate and display the percentage of missing values for each column in the '`df`' DataFrame. <br>This information helps in understanding the completeness of the dataset and identifies columns with **missing data**.

In [8]:
# Calculate the percentage of missing values for each column in 'df' DataFrame
row_size = df.shape[0]
for i in df.columns:
    if df[i].isnull().sum() > 0:
        print(i, "----------", (df[i].isnull().sum() / row_size) * 100)

 checking for and printing the number of duplicate rows in the '`df`' DataFrame, helping to identify and address potential data duplication issues.

In [9]:
# Check for duplicate rows in 'car' DataFrame
df.duplicated().sum()

543

Remove the duplicate rows from the '`df`' DataFrame

In [10]:
# Drop duplicate rows from the 'car' DataFrame
df = df.drop_duplicates()
df.duplicated().sum()

0

#**Viewing & Saving Clean Data**

Here we specify the column names to drop. Now we drop these specified columns from the DataFrame.

In [11]:
# Column names to drop
columns_to_drop = ['logId']

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

df.shape

(187978, 4)

Now we sort the DataFrame.

In [12]:
# Sort the melted DataFrame by 'Id' and 'Activity'
df = df.sort_values(by=['Id', 'ActivityDay', 'ActivityMinute'])

Viewing the final and cleaned data, saving it into `.csv` format

Here, the modified '`df`' DataFrame is saved to a **CSV file** named '`minute_sleep_cleaned.csv`' without including the index column.

In [13]:
df.to_csv('minute_sleep_cleaned.csv', index=False)   # Save the modified 'df' DataFrame to a CSV file named 'minute_sleep_cleaned.csv'